# Ignorar dependências locais
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Ignorar arquivos de ambiente
.env
.env.local

# Ignorar cache e configurações do editor
*.log
.DS_Store
.vscode
.idea

# Ignorar arquivos de build e temporários
dist
build
tmp
